*
{
    margin: 0;
}
body
{
    width: 100% ; height: 100%;
}
nav
{ 
    width: 100%; height: 5%;
}
.logo
{  width: 25%; height: 5%; 
    
}
.logopic 
{
    width:50px; height: 50px;  margin: 10px;
}
.name
{
    position: absolute; font-size: 20px; top:20px; left:70px; font-family:monospace; color: #353839;
}
.name1
{
    position: absolute; font-size: 15px; top:40px; left:70px; font-family:monospace; color: #808080;
}
li
{
    display: inline; color: #808080; padding: 15px;
}
.headers
{
    position: absolute; right: 60px; top:30px;
}
.headers li:hover
{   color: white; background-color: #1cac78; 
    
}
.first
{  width: 100%; height:600px;
   background-image: url(../img/back2.jpg); 
   background-repeat: no-repeat; 
   background-size:cover;  color: white;
}
.name2
{  position: absolute;  color:azure; font-weight: 100; font-family:	"Arial" ,sans-serif;
    top: 150px; left: 450px; font-stretch: expanded; font-size: 80px; 
    text-align: center;
}
b
{ 
    color: white; font-weight:900;  
}
.name3
{ 
    position: absolute;  color:lightgrey; top: 300px; left: 350px; font-size: 20px;
}
button
{
    background-color:mediumseagreen; padding: 10px; width: 150px; height: 40px;
    margin-top: 350px; color: white; 
    
}
.arrow
{
    width: 40px ; height: 40px ; border-radius: 100%; background-color:white;
    margin-top: 60px; 
}
.second
{   width: 100%; height: 600px;
    background-color: white;
    
}
.name4
{
    font-family: "	Courier New",monospace; color:#3d4035; 
    margin-top: 60px; font-weight: 100; width: 300px;
}
.name5
{
    margin-top: 8px ; width: 700px; color: #808080;
}
.options
{
    margin-top: 50px;
}
.options  li 
{
    color: white; background-color:#00a877;
     margin: 3px;
}
.photos img
{
     width:120px; height:120px;
    background-color:antiquewhite; border-radius: 100%; 
    margin: 20px; padding: 15px;
}
.img1 ,.img2, .img3,.img4
{
    display: none;
    text-shadow: 5px 5px 5px red;
}
.img5 ,.img6, .img7,.img8
{
    display: none;
    text-shadow: 5px 5px 5px red;
}

.i1:hover+.img1
{
    display:contents; 
    color: black
}
div .i1
{
   background-color:#F77737;;
}
.i2:hover+.img2
{
    display:contents;
    color: black;
}
div .i2
{
    background-color: #5851DB;
}
div .i3
{
    background-color:#FD1D1D;;
}
.i3:hover+.img3
{
    display:contents;
    color: black;
}
div .i4
{
    background-color:#DB4437;
   
}
.i4:hover+.img4
{
    display:contents;
    color: black;
}
div .i5
{
    background-color:#405DE6; 
}
.i5:hover+.img5
{
    display:contents; 
    color: black;
}
div .i6
{
    background-color:#C13584; 
}
.i6:hover+.img6
{
    display:contents; 
    color: black;
}
div .i7
{
    background-color:#EE1D52;
}
.i7:hover+.img7
{
    display:contents; 
    color: black;
}
 div .i8
{
    background-color: #E1306C;
}
.i8:hover+.img8
{
    display:contents; 
    color: black;
}

.third
{  width: 100%; height: 600px;
   background-color: #1cac78 ;
}
.name6
{
    font-family: "	Courier New",monospace; color:whitesmoke; 
    font-weight: 100; width: 300px; padding-top: 50px;
}
.name7
{  color:whitesmoke; width: 1000px; padding-top: 15px; padding-left: 50px;
    
}
.faces li 
{
    display:inline-block;
    padding: 25px; 
}
.faces .part1,.part2,.part3
{
    width: 220px;  height: 450px; background-color:white;
}
.faces .pic3,.pic2,.pic1
{
    width: 220px; 
}
.bg
{
    width: 25px; height: 25px ; background-color: white; 
    display: none;
}
.Manela:hover + .bg
{
    display:inline-block; position: absolute; left:420px;
    width: 30px; height: 30px;
}

.faces .text1,.text3
{
    width: 220px;
}
.faces .text2
{
    width: 220px;
}
.faces img 
{
    width: 220px; height: 220px;
}
.faces h2
{
    margin-top: 20px; font-weight: 200; color: gray;
    text-align: center;
}
.faces h3
{
    font-weight: 100; font-style: italic; font-size: 15px; color: gray;
    text-align: center;
}
.text1,.text3,.text2 p 
{
    margin-left: 10px; 
    text-align:start;
}
.fourth
{  width: 100%; height: 530px;
   background-color:whitesmoke;   
}
.name8
{
    font-family: "	Courier New",monospace; font-weight: 100;  padding-top: 50px; 
    padding-left: 700px;
}
.name9
{
    width: 1000px;
    padding-top: 15px; padding-left: 600px;
}
input
{
    text-indent: 15px;
    line-height: normal;
    height: 35px; width: 250px;  border-style: none;
    position: absolute; left: 60px; outline-color:lightgrey; outline-style: solid;
}
input:first-child
{
    left: 340px;
}
textarea
{
    width:530px ; height: 180px;
    margin-left:60px; border-color:lightgrey; margin-bottom: 90px;
    outline-color:lightgray; outline-style: solid; text-indent: 15px; line-height: 40px;  
}
input:last-child
{
  background-color: mediumseagreen; color:white; text-transform: uppercase; 
    margin-top:200px; margin-left: 410px; text-align: center; width:130px;
    align-content: center; padding-right: 15px; letter-spacing: 2px;
    outline-style: none;
}
aside 
{   position:absolute;
    top:2080px; left: 630px;
}
aside img
{
    width: 20px ; height: 20px; margin-top: 10px;
}
aside p,h5
{
   text-align:start; margin-left: 5px;
    position: absolute; width:400px; margin-top: 10px;
}
aside h5,h1
{
 font-weight: 100;
}
aside h1
{
    font-size: 20px;
}
aside img, p 
{ 
   display: inline;
    
}
aside imgc,h5
{
    display:inline;
}
aside imgf,h6
{
    display:inline-table;
}
aside imgm,h7
{
    display:inline-block;
}
footer
{
    width: 100% ; height:70px; background-color:#36454f; 
}
footer h4,img 
{
    display: inline;
}
footer h4
{
    color: white; font-weight: 100; text-align: left;
    margin-left: 50px; 
/*    margin-bottom: 25px; */
}
footer img 
{
    width: 35px; height: 35px; background-color:mediumseagreen;
    margin-left: 1000px; margin-top: 15px;
}
