#last
{
    padding-top:15px; ;
}
#first
{
    padding: 10px;
    outline: 3px solid yellow;  
}
#first-out
{
    box-shadow: 1px 1px 1px yellow;
}
.card:hover
{
    background-color: black;
}
.col-md-4
{
    margin: 0px;
}