*
{
    margin: 0px;
}
body
{
    background-color: antiquewhite;
}
nav
{
    background-color: gainsboro;
   
}
.home
{
    width:50px;
    height: 50px;
    background-color: aqua;
}
li
{
    display:inline;
    padding: 15px;
}
ul
{
    padding: 12px;
}
a
{
    text-decoration: none;
    letter-spacing: 3px;
    font-family: cursive;
}
a:hover
{
    background-color: white;
    color: lightskyblue;
    padding: 12px;
    text-shadow: 1px 1px blue;

}
